---
---

<footer class="footer bg-background-dark-10 mt-8 border-t py-12 opacity-100">
    <div class="m-auto max-w-7xl px-4 ">
        <div class="mt-8 flex flex-row items-center gap-2 border-t border-gray-600/50 pt-10">
            <img src="/src/icons/inertia.svg" alt="Inertia" width={94} height={148} />
            <div class="flex-1"></div>
            <div class="flex flex-col">
        <span class="text-right text-sm text-gray-300">
          © {new Date().getFullYear()} The InertiaOrg Team
        </span>
                <span class="prose-link commit text-sm text-gray-300">
          <a class="text-sm font-medium" href="https://github.com/InertiaOrg/website/"> InertiaOrg/website </a>
        </span>
            </div>
        </div>
        <div class="mt-4 flex flex-row items-center gap-2 pt-4">
      <span class="text-sm text-gray-300">
        This website is not an official Minecraft website and is not associated with Mojang Studios or Microsoft.
      </span>
        </div>
    </div>
</footer>

<style>
    @reference "tailwindcss";
    .footer a {
        @apply transition hover:text-gray-200;
    }
    .commit a {
        @apply text-blue-500 hover:text-blue-400;
    }
</style>